<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <div>
      <h1>요기요 리뷰 분석</h1>
    </div>
    <div>
      <form action="/home" method="get">
        <input type="hidden" name="location" value="경희대 국제캠퍼스" />
        <input type="submit" value="경희대 국제캠퍼스" />
      </form>
      <form action="/home" method="get">
        <input type="hidden" name="location" value="경기도 의왕시 청계동" />
        <input type="submit" value="경기도 의왕시 청계동" />
      </form>
    </div>
  </body>
</html>
